<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <n98hackathon_blabla>
            <slack>
                <is_enabled>1</is_enabled>
                <webhook_url />
            </slack>
            <discord>
                <is_enabled>1</is_enabled>
                <webhook_url />
            </discord>
            <events>
                <customer_creation_enabled>1</customer_creation_enabled>
                <order_purchase_enabled>1</order_purchase_enabled>
                <zero_search_results_enabled>1</zero_search_results_enabled>
            </events>
        </n98hackathon_blabla>
    </default>
</config>