<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <events>
            <order_purchase>
                <is_enabled/>
            </order_purchase>

            <customer_creation>
                <is_enabled/>
            </customer_creation>
        </events>

        <channels>
            <slack>
                <is_enabled/>
                <webhook_url />
            </slack>
        </channels>
    </default>
</config>