<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Layer">
        <plugin name="search_no_results_notification_plugin"
                type="N98Hackathon\BlaBla\Plugin\SearchNoResultsNotificationPlugin" />
    </type>
</config>
