<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="order_purchase_notification_submit" instance="N98Hackathon\BlaBla\Observer\OrderPurchaseNotificationObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="customer_create_notification_submit" instance="N98Hackathon\BlaBla\Observer\CustomerCreateNotificationObserver" />
    </event>
</config>
