<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="n98hackathon_blabla" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Blabla Notifications n98 Hackathon</label>
            <tab>service</tab>
            <resource>N98Hackathon_BlaBla::config_n98hackathon_blabla</resource>
            <group id="slack" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Slack</label>
                <field id="is_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1" translate="label" type="select">
                    <label>Is Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webhook_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Webhook URL</label>
                    <validate>required-entry validate-url</validate>
                    <comment>To generate a Webhook follow the introduction here: https://api.slack.com/incoming-webhooks</comment>
                    <depends>
                        <field id="n98hackathon_blabla/slack/is_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="discord" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Discord</label>
                <field id="is_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label" type="select">
                    <label>Is Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webhook_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Webhook URL</label>
                    <validate>required-entry validate-url</validate>
                    <comment>To generate a Webhook follow the introduction here: https://discordapp.com/developers/docs/resources/webhook#execute-webhook</comment>
                    <depends>
                        <field id="n98hackathon_blabla/discord/is_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="hipchat" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
                <label>HipChat</label>
                <field id="is_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label" type="select">
                    <label>Is Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Room Integration URL</label>
                    <validate>required-entry validate-url</validate>
                    <comment>To generate a Room Integration URL follow the introduction here: https://confluence.atlassian.com/hc/integrations-with-hipchat-server-683508267.html</comment>
                    <depends>
                        <field id="n98hackathon_blabla/hipchat/is_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="events" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Events</label>
                <field id="customer_creation_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label" type="select">
                    <label>Receive notifications for new Customer Accounts.</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_purchase_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20" translate="label" type="select">
                    <label>Receive notifications for new Orders.</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="zero_search_results_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" translate="label" type="select">
                    <label>Receive new notifications for searches with no result.</label>
                    <comment>If there are search terms with no results, you will receive a notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="contact_us_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label" type="select">
                    <label>Enable Contact Us notifications</label>
                    <comment>You will receive a notification as soon as somebody fills out the contact form.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>